fastapi==0.111.1
uvicorn[standard]==0.23.2
SQLAlchemy==2.0.31
PyMySQL==1.1.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
python-multipart>=0.0.7,<1.0.0
python-docx==1.1.2
python-pptx==1.0.2
PyMuPDF>=1.26.0,<1.27.0
pytesseract==0.3.13
langdetect==1.0.9
requests==2.31.0
python-dotenv==1.0.1
Pillow>=11.0.0,<12.0.0
pydantic==2.11.2
email-validator==2.2.0
gTTS==2.5.3
